<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volatile Chess</title>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/js/chess.js" defer></script>
  <link rel="stylesheet" href="/style/stylesheet.css">
</head>
<body>


  <%
  const isDeafultSet = true;
  const sizeX = 8;
  const sizeY = 8;
  let isWhite = true;
  const gamePieces = []; // 2d array of pieces
  %>

  <table class = "playerDisplay">
  <tr>
    <td class = "player">Player One<br><span id = "playerOneName">---</span></td>
    <td>


  <table class = "chessBoard" border = "1" id = "chessboard" >
    <% if(!!isDeafultSet){ // default game
      for (let i = 0; i < sizeY; i += 1) {
      // y axis
      %> <tr> <%
      const tempArray = [];
      for (let j = 0; j < sizeX; j += 1) {
        let backgroundColor = "white";
        if(!isWhite){
          backgroundColor = "black";
        }
        isWhite = !isWhite;

        // x axis
        const tempPiece = "♛";
        %> <td class = "<%=backgroundColor%>" id = "<%=j%> <%=i%>"><%= tempPiece%></td> <%
        tempArray.push(tempPiece);
      }
      isWhite = !isWhite;
      %> </tr> <%
      gamePieces.push(tempArray);
    }
    %>


    <%} else { // set name entered
        for (let i = 0; i < sizeY; i += 1) {
        // y axis
        %> <tr> <%
        const tempArray = [];
        for (let j = 0; j < sizeX; j += 1) {
          let backgroundColor = "white";
          if(!isWhite){
            backgroundColor = "black";
          }
          isWhite = !isWhite;

          // x axis
          const tempPiece = "♛";
          %> <td  class = "<%=backgroundColor%>" id = "<%=j%> <%=i%>"><%= tempPiece%></td> <%
          tempArray.push(tempPiece);
        }
        isWhite = !isWhite;
        %> </tr> <%
        gamePieces.push(tempArray);
      }
    }
    %>
  </table>
      </td>
      <td class = "player">Player Two<br><span id = "playerTwoName">---</span></td>
    </tr>
  </table>

  <div>
    <div class = "messages">
      <ul id="messages"></ul>
    </div>

    <form id="chatForm" action="">
      <input id="chatMessage" autocomplete="off" /><button>Send</button>
    </form>
  </div>

  <h5 id = "setName"><%=setName%></h5>

  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
  </div>
</body>
</html>
