<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Set</title>
  <link rel="stylesheet" href="/style/stylesheet.css">
</head>
<body>
  <h1>Add A Piece to <%= set.setName %></h1>
  <form action="/set/<%= set.setId %>/addPiece" method="post">
    <div>
      <input type="text" name="pieceName" id="pieceName">
      <label for="pieceName">Piece Name</label>
    </div>
    <div>
      <button>Add</button>
    </div>
  </form>
  <!-- All redirect to homepage for now. Ill be changing this when editPiece.ejs is done -->
  <br>
  <div class="textBox">
  <p>Pawn Replacer: <a href="/piece/view/<%= set.replacesPawn %>" class="login"> <% if(replacesPawn === null){ %> No Piece <% } else {%> <%= replacesPawn.pieceName %> <% } %></a></p>
  <p>Rook Replacer: <a href="/piece/view/<%= set.replacesRook %>" class="login"> <% if(replacesRook === null){ %> No Piece <% } else {%> <%= replacesRook.pieceName %> <% } %></a></p>
  <p>Knight Replacer: <a href="/piece/view/<%= set.replacesKnight %>" class="login"> <% if(replacesKnight === null){ %> No Piece <% } else {%> <%= replacesKnight.pieceName %> <% } %></a></p>
  <p>Bishop Replacer: <a href="/piece/view/<%= set.replacesBishop %>" class="login"> <% if(replacesBishop === null){ %> No Piece <% } else {%> <%= replacesBishop.pieceName %> <% } %></a></p>
  <p>King Replacer: <a href="/piece/view/<%= set.replacesKing %>" class="login"> <% if(replacesKing === null){ %> No Piece <% } else {%> <%= replacesKing.pieceName %> <% } %></a></p>
  <p>Queen Replacer: <a href="/piece/view/<%= set.replacesQueen %>" class="login"> <% if(replacesQueen === null){ %> No Piece <% } else {%> <%= replacesQueen.pieceName %> <% } %></a></p>
</div>
  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
    <a href = "/users">Find User</a>
  </div>
</body>
</html>
