<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= tempUser.userName%>'s Page</title>
  <link rel="stylesheet" href="../style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Welcome to <%=tempUser.userName%>'s page!</h1>
  <div class = "textBox">
    <p><%=tempUser.userName%>'s sets:</p>
      <!-- Hadyen, this is where you should add code for set stuff -->
      <!-- follow index endpoint for /users/username -->
      <% for( const set of sets ) { %>
        <div class="set">
          <a href='/set/id/<%= set.setId %>'><%= set.setName %></a>
        </div>
        <% } %>
  </div>

  <a href = "/chess";>chess board</a>
  <a href = "/createPiece";>Create A New Piece</a>

  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
    <a href = "/users">Find User</a>
  </div>
</body>
</html>
